# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules

# testing
/coverage

# production
/build
build

# css
src/**/*.css
src/**/__snapshots__

# misc
todo.txt
note.txt
refs.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/lib/ffx-iframe-messenger
src/lib/ffx-prez-common-utilities
src/lib/ffx-prez-share
src/lib/ffx-prez-styles
