/*
  Sports team icon

  The file assumes it will be compiled to a CSS file that sits like so in the project's directory 
  hierarchy:

  main.css
  .. / libs
  .. .. / ffx-prez-styles
  .. .. .. / assets
  .. .. .. .. / images
  .. .. .. .. / logos
  .. .. .. .. .. / sport
  .. .. .. .. .. .. / mc-team-logos$2x.png
*/

/*
  Sports team icon

  @param { Number with unit } side-length - Figure with unit that determines width and height of icon
  @param { String } league - String denoting which set of icons to include in icon style
*/

@mixin sports-team-icon($side-length: 20px, $league: "all") {

  $side-length: to-unit(px, $side-length);

  display: inline-block;

  width: $side-length;
  height: $side-length;
  /*
    '20' is the default width, so the following scales the size of the bottom margin in proportion
    with the chosen icon size.
  */
  margin-bottom: -6 * ($side-length * 0.05);

  content: '';

  background-color: #fff;
  background-image: 
    url("assets/images/logos/sport/mc-team-logos@2x.png"),                      // For testing
    url("libs/ffx-prez-styles/assets/images/logos/sport/mc-team-logos@2x.png"); // For production
  background-position: 0 0;
  background-size: (100 * ($side-length * 0.05)) auto; // See comment above for 'Why 20?'
  
  @if ($league == "afl" or $league == "all") {

    // AFL team icons
    &.is--afl-adelaide,
    &.is--afl-adelaide-crows {
      background-position: 0 -20 * ($side-length * 0.05);
    }
    &.is--afl-brisbane,
    &.is--afl-brisbane-lions {
      background-position: 0 -40 * ($side-length * 0.05);
    }
    &.is--afl-carlton {
      background-position: 0 -60 * ($side-length * 0.05);
    }
    &.is--afl-collingwood {
      background-position: 0 -80 * ($side-length * 0.05);
    }
    &.is--afl-essendon {
      background-position: 0 -100 * ($side-length * 0.05);
    }
    &.is--afl-fremantle {
      background-position: 0 -120 * ($side-length * 0.05);
    }
    &.is--afl-geelong,
    &.is--afl-geelong-cats {
      background-position: 0 -140 * ($side-length * 0.05);
    }
    &.is--afl-gold-coast,
    &.is--afl-gold-coast-suns {
      background-position: 0 -160 * ($side-length * 0.05);
    }
    &.is--afl-hawthorn {
      background-position: 0 -180 * ($side-length * 0.05);
    }
    &.is--afl-north-melbourne {
      background-position: 0 -200 * ($side-length * 0.05);
    }
    &.is--afl-melbourne {
      background-position: 0 -220 * ($side-length * 0.05);
    }
    &.is--afl-port-adelaide {
      background-position: 0 -240 * ($side-length * 0.05);
    }
    &.is--afl-richmond {
      background-position: 0 -260 * ($side-length * 0.05);
    }
    &.is--afl-st-kilda {
      background-position: 0 -280 * ($side-length * 0.05);
    }
    &.is--afl-sydney,
    &.is--afl-sydney-swans {
      background-position: 0 -300 * ($side-length * 0.05);
    }
    &.is--afl-west-coast,
    &.is--afl-west-coastEagles {
      background-position: 0 -320 * ($side-length * 0.05);
    }
    &.is--afl-western-bulldogs {
      background-position: 0 -340 * ($side-length * 0.05);
    }
    &.is--afl-greater-western-sydney,
    &.is--afl-gws-giants {
      background-position: 0 -360 * ($side-length * 0.05);
    }
  }
  
  @if ($league == "rugby league" or $league == "rle" or $league == "all") {

    // Rugby League domestic team icons
    &.is--rle-brisbane-broncos {
      background-position: -20 * ($side-length * 0.05) -20 * ($side-length * 0.05);
    }
    &.is--rle-canberra-raiders {
      background-position: -20 * ($side-length * 0.05) -40 * ($side-length * 0.05);
    }
    &.is--rle-canterbury-bankstown-bulldogs {
      background-position: -20 * ($side-length * 0.05) -60 * ($side-length * 0.05);
    }
    &.is--rle-cronulla-sutherland-sharks {
      background-position: -20 * ($side-length * 0.05) -80 * ($side-length * 0.05);
    }
    &.is--rle-gold-coast-titans {
      background-position: -20 * ($side-length * 0.05) -100 * ($side-length * 0.05);
    }
    &.is--rle-manly-warringah-sea-eagles {
      background-position: -20 * ($side-length * 0.05) -120 * ($side-length * 0.05);
    }
    &.is--rle-melbourne-storm {
      background-position: -20 * ($side-length * 0.05) -140 * ($side-length * 0.05);
    }
    &.is--rle-newcastle-knights {
      background-position: -20 * ($side-length * 0.05) -160 * ($side-length * 0.05);
    }
    &.is--rle-new-zealand-warriors {
      background-position: -20 * ($side-length * 0.05) -180 * ($side-length * 0.05);
    }
    &.is--rle-north-queensland-cowboys {
      background-position: -20 * ($side-length * 0.05) -200 * ($side-length * 0.05);
    }
    &.is--rle-parramatta-eels {
      background-position: -20 * ($side-length * 0.05) -220 * ($side-length * 0.05);
    }
    &.is--rle-penrith-panthers {
      background-position: -20 * ($side-length * 0.05) -240 * ($side-length * 0.05);
    }
    &.is--rle-south-sydney-rabbitohs {
      background-position: -20 * ($side-length * 0.05) -260 * ($side-length * 0.05);
    }
    &.is--rle-st-george-illawarra-dragons {
      background-position: -20 * ($side-length * 0.05) -280 * ($side-length * 0.05);
    }
    &.is--rle-sydney-roosters {
      background-position: -20 * ($side-length * 0.05) -300 * ($side-length * 0.05);
    }
    &.is--rle-wests-tigers {
      background-position: -20 * ($side-length * 0.05) -320 * ($side-length * 0.05);
    }

    // Rugby League state of origin teams
    &.is--rle-new-south-wales {
      background-position: -20 * ($side-length * 0.05) -340 * ($side-length * 0.05);
    }
    &.is--rle-queensland {
      background-position: -20 * ($side-length * 0.05) -360 * ($side-length * 0.05);
    }

    // Rugby League city versus country teams
    &.is--rle-city-origin {
      background-position: -20 * ($side-length * 0.05) -380 * ($side-length * 0.05);
    }
    &.is--rle-country-origin {
      background-position: -20 * ($side-length * 0.05) -400 * ($side-length * 0.05);
    }

    // Rugby League internationals and world cup teams
    &.is--rle-australia {
      background-position: -20 * ($side-length * 0.05) -420 * ($side-length * 0.05);
    }
    &.is--rle-cook-islands {
      background-position: -20 * ($side-length * 0.05) -440 * ($side-length * 0.05);
    }
    &.is--rle-england {
      background-position: -20 * ($side-length * 0.05) -460 * ($side-length * 0.05);
    }
    &.is--rle-fiji {
      background-position: -20 * ($side-length * 0.05) -480 * ($side-length * 0.05);
    }
    &.is--rle-france {
      background-position: -20 * ($side-length * 0.05) -500 * ($side-length * 0.05);
    }
    &.is--rle-italy {
      background-position: -20 * ($side-length * 0.05) -520 * ($side-length * 0.05);
    }
    &.is--rle-ireland {
      background-position: -20 * ($side-length * 0.05) -540 * ($side-length * 0.05);
    }
    &.is--rle-new-zealand {
      background-position: -20 * ($side-length * 0.05) -560 * ($side-length * 0.05);
    }
    &.is--rle-papua-new-guinea {
      background-position: -20 * ($side-length * 0.05) -580 * ($side-length * 0.05);
    }
    &.is--rle-samoa {
      background-position: -20 * ($side-length * 0.05) -600 * ($side-length * 0.05);
    }
    &.is--rle-scotland {
      background-position: -20 * ($side-length * 0.05) -620 * ($side-length * 0.05);
    }
    &.is--rle-tonga {
      background-position: -20 * ($side-length * 0.05) -640 * ($side-length * 0.05);
    }
    &.is--rle-usa {
      background-position: -20 * ($side-length * 0.05) -660 * ($side-length * 0.05);
    }
    &.is--rle-wales {
      background-position: -20 * ($side-length * 0.05) -680 * ($side-length * 0.05);
    }
  }
  
  @if ($league == "rugby union" or $league == "run" or $league == "all") {

    // Rugby Union domestic team logos
    &.is--run-auckland-blues {
      background-position: -40 * ($side-length * 0.05) -20 * ($side-length * 0.05);
    }
    &.is--run-brisbane-brumbies {
      background-position: -40 * ($side-length * 0.05) -40 * ($side-length * 0.05);
    }
    &.is--run-pretoria-bulls {
      background-position: -40 * ($side-length * 0.05) -60 * ($side-length * 0.05);
    }
    &.is--run-free-state-cheetahs {
      background-position: -40 * ($side-length * 0.05) -80 * ($side-length * 0.05);
    }
    &.is--run-hamilton-chiefs {
      background-position: -40 * ($side-length * 0.05) -100 * ($side-length * 0.05);
    }
    &.is--run-christchurch-crusaders {
      background-position: -40 * ($side-length * 0.05) -120 * ($side-length * 0.05);
    }
    &.is--run-dunedin-highlanders {
      background-position: -40 * ($side-length * 0.05) -140 * ($side-length * 0.05);
    }
    &.is--run-wellington-hurricanes {
      background-position: -40 * ($side-length * 0.05) -160 * ($side-length * 0.05);
    }
    &.is--run-melbourne-rebels {
      background-position: -40 * ($side-length * 0.05) -180 * ($side-length * 0.05);
    }
    &.is--run-queensland-reds {
      background-position: -40 * ($side-length * 0.05) -200 * ($side-length * 0.05);
    }
    &.is--run-durban-sharks {
      background-position: -40 * ($side-length * 0.05) -220 * ($side-length * 0.05);
    }
    &.is--run-cape-town-stormers {
      background-position: -40 * ($side-length * 0.05) -240 * ($side-length * 0.05);
    }
    &.is--run-nsw-waratahs {
      background-position: -40 * ($side-length * 0.05) -260 * ($side-length * 0.05);
    }
    &.is--run-western-force {
      background-position: -40 * ($side-length * 0.05) -280 * ($side-length * 0.05);
    }
    &.is--run-johannesburg-lions {
      background-position: -40 * ($side-length * 0.05) -300 * ($side-length * 0.05);
    }
    &.is--run-southern-kings {
      background-position: -40 * ($side-length * 0.05) -320 * ($side-length * 0.05);
    }
    &.is--run-tokyo-sunwolves {
      background-position: -40 * ($side-length * 0.05) -340 * ($side-length * 0.05);
    }
    &.is--run-argentine-jaguares {
      background-position: -40 * ($side-length * 0.05) -360 * ($side-length * 0.05);
    }

    // Rugby Union World Cup team logos
    &.is--run-argentina {
      background-position: -60 * ($side-length * 0.05) -20 * ($side-length * 0.05);
    }
    &.is--run-australia {
      background-position: -60 * ($side-length * 0.05) -40 * ($side-length * 0.05);
    }
    &.is--run-canada {
      background-position: -60 * ($side-length * 0.05) -60 * ($side-length * 0.05);
    }
    &.is--run-england {
      background-position: -60 * ($side-length * 0.05) -80 * ($side-length * 0.05);
    }
    &.is--run-fiji {
      background-position: -60 * ($side-length * 0.05) -100 * ($side-length * 0.05);
    }
    &.is--run-france {
      background-position: -60 * ($side-length * 0.05) -120 * ($side-length * 0.05);
    }
    &.is--run-georgia {
      background-position: -60 * ($side-length * 0.05) -140 * ($side-length * 0.05);
    }
    &.is--run-ireland {
      background-position: -60 * ($side-length * 0.05) -160 * ($side-length * 0.05);
    }
    &.is--run-italy {
      background-position: -60 * ($side-length * 0.05) -180 * ($side-length * 0.05);
    }
    &.is--run-japan {
      background-position: -60 * ($side-length * 0.05) -200 * ($side-length * 0.05);
    }
    &.is--run-namibia {
      background-position: -60 * ($side-length * 0.05) -220 * ($side-length * 0.05);
    }
    &.is--run-new-zealand {
      background-position: -60 * ($side-length * 0.05) -240 * ($side-length * 0.05);
    }
    &.is--run-romania {
      background-position: -60 * ($side-length * 0.05) -260 * ($side-length * 0.05);
    }
    &.is--run-russia {
      background-position: -60 * ($side-length * 0.05) -280 * ($side-length * 0.05);
    }
    &.is--run-samoa {
      background-position: -60 * ($side-length * 0.05) -300 * ($side-length * 0.05);
    }
    &.is--run-scotland {
      background-position: -60 * ($side-length * 0.05) -320 * ($side-length * 0.05);
    }
    &.is--run-south-africa {
      background-position: -60 * ($side-length * 0.05) -340 * ($side-length * 0.05);
    }
    &.is--run-tonga {
      background-position: -60 * ($side-length * 0.05) -360 * ($side-length * 0.05);
    }
    &.is--run-united-states {
      background-position: -60 * ($side-length * 0.05) -380 * ($side-length * 0.05);
    }
    &.is--run-wales {
      background-position: -60 * ($side-length * 0.05) -400 * ($side-length * 0.05);
    }
    &.is--run-barbarians {
      background-position: -60 * ($side-length * 0.05) -420 * ($side-length * 0.05);
    }
    &.is--run-british-irish-lions {
      background-position: -60 * ($side-length * 0.05) -440 * ($side-length * 0.05);
    }
    &.is--run-combined-nsw-qld-country {
      background-position: -60 * ($side-length * 0.05) -460 * ($side-length * 0.05);
    }
    &.is--run-uruguay {
      background-position: -60 * ($side-length * 0.05) -480 * ($side-length * 0.05);
    }
  }
}