/*
  Embedded interactive

  January 1, 2017
  ask sorenfrederiksen@fairfaxmedia.com.au

  Default styles for element containing embedded interactive.

  Your SCSS:

  ```
  .yourEmbeddedInteractiveContainerClass {
    @include embedded-interactive;
  }
  ```

  Your HTML:

  ```
  <div class="yourEmbeddedInteractiveContainerClass">
    <!-- Your application -->
  </div>
  ```
*/

@mixin embedded-interactive() {
  position: relative;
  max-width: 780px;
  overflow: hidden;
  border-top: 1px solid $color__border-red;
  border-bottom: 1px solid $color__border-red;
}