@import 'index.scss';

@include reset();

.testButton {
  @include button-destructive('medium', 'dynamic', 'solid', false);
}
.anotherButton {
  @include button();
}
.aThirdButton {
  // $custom-background, $custom-color, $custom-border, $size: "medium", $size-rules: "dynamic", $custom-outline: initial
  @include button-custom(#ff7b00, #000, 1px solid #000, 'medium', 'fixed', #ff7b00);
}
.testIcon {
  @include sports-team-icon(20px);
  font-size: to-unit(rem, 17.5px);
}

@include standard-typography;

.yourSocialButtonStyle {
  @include social-button(20px);
}

.yourSocialButtonContainerStyle {
  @include social-button-container();
}

.textInput {
  @include text-input();
}

.textInputDark {
  @include text-input('standard--dark');
}

.textInputCustom {
  @include text-input-custom(pink, purple, black, 1.5rem, yellow);
}

.yourSearchInputClass {
  @include search-input('standard', 'right');
}

.searchInput2 {
  @include search-input('standard', 'left');
}

.someSearchWithAutocomplete {
  @include search-input('standard', 'left', 'true');
}

.someSearchWithAutocomplete2 {
  @include search-input('standard', 'right', 'true');
}

.feature-article-header {
  @include feature-article-header('standard', false, true);
}

.feature-article-header-dark {
  @include feature-article-header('standard--dark', false, true);
  background: $color__brand;
}

.yourDropdownClass {
  @include dropdown('standard', false, true);
  padding: 16px;
  max-width: 350px;
}

.yourDarkDropdownClass {
  @include dropdown-custom(
    1.5rem,
    #fff,
    $color__action,
    true,
    true,
    $color__action,
    $color__blue--very-dark,
    $color__blue--light,
    #fff,
    350px
  );
  padding: 16px;
  max-width: 350px;
}

.dropdownContainer {
  padding: 16px 16px;
  height: 400px;
}

.feature-article-header-custom {
  @include feature-article-header-custom(
    $color__persimmon,
    $color__persimmon,
    $color__pizazz,
    $color__pizazz,
    $color__pizazz,
    $color__persimmon,
    true,
    true
  );

  background: $color__congress-blue;
}

.someSearchWithAutocomplete4 {
  @include search-input-custom(pink, purple, black, 1.5rem, #fff3ee, 'left', initial, 'true');
}

/*
  
@mixin _loader(
  $icon-side-length: 80px,
  $icon-color: $color__blue-zodiac,
  $inner-border-color: $color__aluminium,
  $outer-border-color: $color__blue-zodiac) {
*/

.loaderStyle {
  @include loader();
}

.loader-container {
  position: relative;
  height: 500px;
  width: 100%;
}

.loaderStyleTwo {
  @include loader('standard--dark');
}

.loader-containerTwo {
  position: relative;
  height: 500px;
  width: 100%;
  background: $color__brand;
}

/*
$border-color: $color__gray--medium, 
  $focus-border-color: $color__blue--medium-2,
  $color: $color__black--medium,
  $font-size: 1rem,
  $background: #fff,
  $icon-position: "right",
  $outline: initial,
  $autocomplete: "false"
*/

body {
  padding-bottom: 200px;
}

/*
$border-color: $color__gray--medium, 
  $focus-border-color: $color__blue--medium-2,
  $color: $color__black--medium,
  $font-size: 1rem,
  $background: #fff,
  $outline: initial
*/

.fancy-radio {
  @include fancy-radio('standard');
  display: inline-block;
}
.big-fancy-radio {
  @include fancy-radio-custom(20px);
  display: inline-block;
}

.big-fancy-radio-2 {
  @include fancy-radio-custom(
    18px,
    $color__blood-red,
    #fff,
    #fff,
    $color__blood-red,
    #eee,
    1px solid $color__blood-red,
    1px solid $color__blood-red,
    $color__mine-shaft
  );
  display: inline-block;
}
