

$masthead_blue: #004080;
$metro_slate: #F4F5F7;
$metro_slate_txt: #677085;
$max_width: 1140px;
$metro_blue: #096DD2;
$btn_blue_outline: #096dd2;
$metro_red: #D9172F;
$masthead_gray:#EDEDED;
$metro_navy:#5F6C94;
$info_teal: #E7F3FF;
$metro_dark_text: #232323;
$metro_navy_txt: #0A1633;

$metro_text_navy:#2A3561;

$metro_grey:#d1d1d1;
$metro_grey_ver:#a5a5a5;

$dark-grey: #F0F0F0;
$grey: #F5F5F5;
$border-grey: #D8D8D8;

$blue-hover: #004386;
$dark-blue: #192646;
$navy: #5F6C94;

$orange: #FB881A;

$detection_legend_latest: #E56F68;
$detection_legend_previous: #F5C379;


$custom_group_width: 1045px;

$map_height_desktop: 'auto';
$map_height_mobile: 'auto';